// 首頁：APP 和 社群平台 //////////////////////////////////////////////////
.appAndSocialMedia{
  @extend %primSecWidth;font-size: 1.125em;
  ul{
    list-style: none; margin: 0 auto; padding: 0;
    line-height: 1.4;  font-size: inherit; 
    li{
      margin: 20px 0;
      a{
        display: flex; align-items: center;
        padding: 18px;
        box-shadow:transparent 0 0 0 0, rgba(57, 120, 132, .3) 0 0 20px;
        background-color: $white; color: $fontColor; 
        border-radius: 24px; text-decoration: none;
        transition: .2s;
        &:hover{
          box-shadow:$white 0 0 0 3px, rgba(57, 120, 132, .7) 0 0 30px;
        }
        &:focus{
          box-shadow:$focus 0 0 0 3px, rgba(57, 120, 132, 1) 0 2px 8px;
        }
      }
      img{
        display: block;
        &.leading{
          flex: 0 0 15vw; height: 15vw;border-radius: 25%;
        }
        &.qrcode{
          display: none;
        }
      }
      .text{
        flex: 1 1 auto; margin: 0 0 0 2.5%;line-height: 1.3;
        p{
          margin: 0; display: none;
          &.title{
            display: block;margin: 0 0 .4em;
            font-size: 1.25rem; font-weight: bold;
          }
        }
      }
      .hilight{ 
        --color : #{$hilight};
        position: relative; display: inline-block; padding-right: 64px;
        color: var(--color);

        &::before, &::after{
          content: ''; position: absolute;
          transition: .2s;
        }
        &::before{
          right: 5px; top:calc(50% - 5px); width: 8px;height: 8px;
          border: 2px solid var(--color); border-left: none; border-bottom: none;
          transform:  rotate(45deg);
        }
        &::after {
          top: calc(50% - 1px); right: 6px;
          width: 2px; height: 2px; border-radius: 1px;
          background-color: var(--color);
          box-shadow: var(--color) -1px 0 0, var(--color) -2px 0 0, var(--color) -3px 0 0, var(--color) -4px 0 0, var(--color) -5px 0 0, var(--color) -6px 0 0, var(--color) -7px 0 0, var(--color) -8px 0 0, var(--color) -13px 0 0 , var(--color) -18px 0 0, var(--color) -23px 0 0, var(--color) -28px 0 0, var(--color) -33px 0 0, var(--color) -38px 0 0;
        }
      }
    }
  }

  @media screen and (min-width: $wwNormal){
    font-size: 1.125em;
    ul{
      display: flex; flex-flow: row wrap;
      li{
        flex: 0 0 calc(50% - 12px); margin: 12px 0;
        &:nth-child(even){ margin-left: 24px;}
        a{height: 100%;}
        img{
          &.leading{
            flex-basis: 96px; height: 96px; 
          }
          &.qrcode{
            display: block;
            flex: 0 0 80px; height: 80px;
          }
        }
        .text{
          &:nth-last-child(2){ margin-right: 2%;}
          p{
            display: block;
            &.title{ font-size: 1.5rem;}
          }
        }
        .hilight{ font-size: inherit; margin-top: 5px;}
      }
    }
  }

}
