// 首頁：系統公告 //////////////////////////////////////////////////
.bulletin{
  @extend %primSecWidth;
  .blockHeader{
    margin: 0; align-items: flex-start;
    .major{
      padding: 0 1em; height: 2em; line-height: 2.1;
      font-size: 1.125rem; display: inline-block; width: auto;
      letter-spacing: 1px;
      @include grandient1(180deg); color: $fontInvert;
      border-radius: 2em;
      &::after{display: none;}
    }
  }
  .subject{
    margin: .8em 0 0;
    font-size: 1.125rem; font-weight: bold; line-height: 1.6;
    a{
      display: block; color: $fontColor;
      &:focus, &:hover {
        text-decoration: none; 
      }
      &:focus{outline: 1px solid $focus; }
    }
  }

  @media screen and (min-width: $wwNormal){
    .blockHeader{ float: left;}
    .subject{ padding-top: .25em; margin-left: 7.2em;}
  }
}
