// 首頁：Contact Us 地圖與聯絡資訊--------------------------------------
.contactUs{
  position: relative; margin: 0 auto; padding: 1px 0 200px;
  // border: 1px solid transparent;
  .blockHeader{
    position: relative; z-index: 9;
    background: $white; box-shadow: rgba(0,0,0,.25) 0 4px 12px;
    padding:1em 1.2em; width: 12em; margin: 0 auto;
    border-radius: 3em;
  }

  // --- 地圖與聯絡資訊 --- // 
  // .container{ padding: 24px 0 0; }

  // .navButtons{
  //   display: flex; justify-content: space-between;
  //   margin: 0 0 1em;
  //   button{
  //     position: relative;
  //     margin: 0 3px; padding: 0; height: 1.6em; line-height: 1.6;
  //     font-size: 1.25rem; font-weight: bold;
  //     background: none; box-shadow: none; border: none;
  //     color: $fontColor;
  //     &::after{
  //       content: ''; position: absolute; left: 0;right: 0;bottom: 0;
  //       height: 3px; transition: .2s;
  //     }
  //     &.slick-current{
  //       color: $primaryColor;
  //       &::after{background-color: $secondaryColor;}
  //     }
  //   }
  // }


  .cardBox{
    position: relative; width: 94%; max-width: 540px;
    margin: 24px auto; padding:4em 25px 25px; z-index: 9;
    font-size: 1.125rem; border-radius: 32px;
    background: $white; box-shadow: rgba(0,0,0,.25) 0 0 30px; 

    .cardList{ 
      position: relative; margin: 0 30px;
    }

    .infoCard{
      padding: 1em 5px;
      ul{ list-style: none; margin: 0; padding: 0;line-height: 1.5; }
      li{
        &+li{ margin-top: .5em;}
        padding-left: 5em;
        .dt{
          display: inline-block; margin-left: -5em;
          &::after{
            content: ' / '; margin-right: .3em; margin-left: .2em;
          }
        }
      }
    }

    .slick-arrow{ z-index: 9; top: 4.5em;
      &.slick-prev{ left: -50px;}
      &.slick-next{ right: -50px;}
    }

    .slick-dots{
      position: absolute; top: -2.5em; left: -36px; right: -36px;
      display: flex; justify-content: space-between;
      li {
        flex: 0 1 auto; margin: 0;
        button{
          position: relative;
          display: block; width: 100%;margin: 0; padding: 0; 
          height: 1.6em; line-height: 1.6; white-space: nowrap;
          font-size: 1.25rem; font-weight: bold; border-radius: 3px;
          background-color: transparent; color: $fontColorLight;
          &::after{
            content: ''; position: absolute; left: 0;right: 0;bottom: 0;
            height: 3px; transition: .2s;
          }
          &:focus{
           &::after{ background-color: #c00;}
          }       
        }
        &.slick-active{
          button{
            color: #005a7f;
            &::after{background-color: $secondaryColor;}
          }
        }
      }
    }

    .base{
      padding:1em 1em .8em 140px; margin:10px auto 0;
      line-height: 1.3;border-radius: 20px;
      background:url(../images/bg_cardBox.png) no-repeat 36px center, linear-gradient(to bottom, #0094a0, #004f73);
      background-size: 77px, auto;
      color: $fontInvert;
      p { 
        margin: 0;
        &:first-child {
          margin-bottom: 0.6em;
          font-size: 1.5rem;font-weight: bold;
           color: #e3fff7;
        }
        & + p{ margin-top: .3em;}
      }
    }

  }

  // 地圖
  .mapList{ 
    position: relative; overflow: hidden;
    position: absolute; top: 0; left: 0; right: 0; bottom: 0;
    // border: 3px solid blue;
    .map{ 
      position: absolute; left: 0; top: 0; bottom: 0;width: 100%;overflow: hidden;
      img{ display: block;  width: 100%; height: 800px; object-fit: cover; object-position: 60% 0; }
      a{ position: relative;  display: block;
        &::before{ 
          content: ''; position: absolute; left: 0;right: 0;top: 0;bottom: 0;
          transition: .2s;z-index: 9;
        }
        &:hover{
          &::before{box-shadow: $assistant1 0 0 0 1px inset;}
        }
        &:focus{
          &::before{box-shadow: $assistant1 0 0 0 2px inset;}
        }
      }
    }
  }


  @media screen and (min-width:$wwNormal){
    padding: 1px 40px 0; height: 640px;
    .mapList{ 
      position: absolute; left: 0; right: 0; top: 0; margin: 0;
      .map{ 
        height:640px;
        img{ height:640px ; object-position: 50% 50%;}
      }
    }
    .cardBox{
      position: absolute; top: auto; left: 60px; bottom: 0;
      margin: 0; padding:5em 36px 25px; 
      border-radius: 32px 32px 0 0;

      .cardList{
        margin: 0 46px;
      }

      .slick-arrow{ 
        &.slick-prev{ left: -64px;}
        &.slick-next{ right: -64px;}
      }

      .slick-dots{
        top: -3em;left: -50px; right: -50px;
        li {
          button{ padding: 0 4px;
            // &:focus{ box-shadow: $focus 0 0 5px;}
          }
        }
      }
    }
  }

  @media screen and (min-width: calc($wwMaximum + 120px)){
    .cardBox{
      left:calc( 50vw - $wwMaximum*.5 )
    }

  }
}


.videoFlow + .contactUs{
  .blockHeader{
    margin-top: -4rem;
  }  
}