.cpArticle {
  margin-bottom: 40px;
  line-height: 1.9;
  font-size: 1.125rem;

  a {
    color: $linkColor;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  p {
    margin: 1em 0 1.5em;
    line-height: 1.7;
  }
  img {
    max-width: 100%;
  }
  iframe {
    width: 100%;
    margin: 0 0 2em;
  }
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    margin: 30px 0 10px;
    &:first-child {
      margin-top: 0;
    }
    & + p {
      margin-top: 0.5rem;
    }
  }
  h3 {
    font-size: 1.3em;
  }
  h4 {
    font-size: 1.2em;
  }
  h5 {
    font-size: 1.15em;
  }
  h6 {
    font-size: 1em;
  }
  figure {
    display: block;
    margin: 0 auto 1.5em;
    border: 1px solid $borderColorLight;
    border-radius: 5px;
    img {
      display: block;
      width: 100%;
      max-height: 55vh;
      object-fit: contain;
    }
    figcaption {
      display: block;
      margin: 0;
      line-height: 1.6;
      font-size: 0.875em;
      padding: 0.5em 1em;
      background-color: #eee;
    }
  }

  blockquote {
    position: relative;
    font-style: italic;
    padding: 1em 1.5em 1em;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 2.5em;
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: -5px;
      bottom: -5px;
      width: 15px;
      border: 5px solid $assistant1;
    }
    &::before {
      left: 0;
      border-right: none;
    }
    &::after {
      right: 0;
      border-left: none;
    }
  }
  .scroltable-container {
    overflow: auto;
  }
  table {
    border-collapse: collapse;
    margin: 2em 0;
    width: 100%;
    border: 1px solid $borderColor;
    background-color: $mainBg;
    line-height: 1.5;
    &.noborder {
      border-color: #fff;
      tr {
        border-bottom: 1px solid $borderColor;
        &:nth-child(odd) {
          background: #eee;
        }
      }
      tr:first-child th {
        border-bottom-color: #fff;
      }
      th,
      td {
        border-color: #fff;
      }
      th {
        &:first-child {
          border-color: #fff;
        }
      }
    }
    th,
    td {
      padding: 0.5em 1em;
      border: 1px solid $borderColorLight;
    }
    th {
      background-color: $secondaryColor;
      color: #fff;
      white-space: nowrap;
      &:first-child {
        border-right-color: $borderColor;
      }
      &:only-of-type:first-child {
        background-color: $secondaryColor;
        color: #fff;
      }
    }
    tr:first-child th {
      border-bottom-color: $borderColorLight;
    }
  }
  .illustrate_group {
    .illustrate_btn {
      margin: 0 0 0.5em;
      a {
        display: inline-block;
        padding: 0.2em 1em 0.2em 1em;
        background-color: $secondaryColor;
        color: #fff;
        font-size: 1.3rem;
        text-decoration: none;
        border-radius: 5px;
        position: relative;
        border-right: 40px solid $focus;
        &:before {
          content: '';
          border: 8px solid #fff;
          border-color: #fff transparent transparent transparent;
          position: absolute;
          top: 1em;
          right: -1.3em;
          transition: 0.5s;
        }
        &:hover {
          background-color: darken($color: $secondaryColor, $amount: 5);
          border-right: 40px solid darken($color: $focus, $amount: 5);
        }
      }
      &.open {
        a {
          &:before {
            // transform: rotate(180deg);
            top: 0.6em;
            border-color: transparent transparent #fff transparent;
          }
        }
      }
    }
    .illustrate_block {
      display: none;
    }
  }
  .illustrate_block {
    border: 1px solid $borderColorLight;
    border-radius: 5px;
    margin-bottom: 2em;
    .title {
      background-color: $secondaryColor;
      color: #fff;
      padding: 0.2em 1em;
      font-size: 1.3rem;
      border-radius: 5px 5px 0 0;
    }
    .content {
      padding: 1em;
      .subtitle {
        font-weight: bolder;
        position: relative;
        padding-left: 30px;
        &:before {
          content: '';
          position: absolute;
          left: 10px;
          top: 13px;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          box-shadow: #018a9a 0 0 0 5px;
          background-color: #fff;
          transition: 0.2s;
        }
      }
      ol {
        margin-left: 0.9em;
      }
    }
  }
  @media screen and (min-width: $wwMedium) {
  }

  @media screen and (min-width: $wwNormal) {
    font-size: 1.125em;
    blockquote {
      margin-left: 0;
    }
  }
}
// 內容button置中
.buttonCenter {
  text-align: center;
  margin-bottom: 2em;
  a {
    max-width: 400px;
    margin: 0 auto;
    padding: 1em 2em;
    text-decoration: none;
    background-color: $primaryColor;
    border-radius: 5px;
    color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transition: 0.5s;
    display: block;
    &:hover {
      background-color: lighten($color: $primaryColor, $amount: 8);
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
      text-decoration: none;
    }
  }
}
// 學經歷
.experience_content {
  position: relative;
  display: flex;
  @media (max-width: 700px) {
    flex-wrap: wrap;
  }
  .content_photo {
    flex: 0 0 auto;
    flex-basis: 200px;
    margin-left: 2em;
    .photo {
      width: 200px;
      line-height: 0;
      display: inline-block;
      margin-bottom: 2em;
      img {
        margin: 0;
        background-color: #fff;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        padding: 0;
        width: 100%;
      }
    }
    @media (max-width: 700px) {
      flex: 1 1 auto;
      flex-basis: 100%;
      order: 0;
      margin-left: 0;
      .photo {
        width: 100%;
        text-align: center;
        img {
          width: 200px;
          margin: 0 auto;
        }
      }
    }
  }
  .content_box {
    flex: 1 1 auto;
    @media (max-width: 700px) {
      order: 1;
    }
    .name {
      font-size: 1.75em;
      font-weight: bolder;
      color: $primaryColor;
      margin-bottom: 0.5em;
      span {
        color: $secondaryColor;
        margin-left: 0.5em;
      }
    }
    .jobtitle {
      font-size: 1.125em;
      padding-left: 1.2em;
      position: relative;
      margin-bottom: 2em;
      line-height: 1.3em;
      &:before {
        content: '';
        width: 6px;
        height: 6px;
        background-color: #fff;
        border: 5px solid $primaryColor;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 5px;
      }
      @media (max-width: 700px) {
        margin-bottom: 1em;
      }
    }
  }

  .character {
    button {
      height: 2.5em;
      line-height: 2.5em;
      &.avtive {
        background-image: linear-gradient(0deg, #018392, #07b4b1);
        border: 1px solid $secondaryColor;
        position: relative;
        &:before {
          content: '';
          border: 10px solid $secondaryColor;
          border-color: $secondaryColor transparent transparent transparent;
          position: absolute;
          bottom: -20px;
          left: 50%;
          margin-left: -10px;
        }
      }
    }
  }
  h3 {
    color: $secondaryColor;
  }
  .experience_ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      padding: 5px 10px;
      &:nth-child(even) {
        background-color: #eee;
      }
      a {
        color: $primaryColor;
        &:focus {
          box-shadow: 0 0 0 2px $focus;
        }
      }
    }
  }
}
