.health_insurance_block {
  font-size: 1.125rem;
  margin-bottom: 30px;
  padding: 0;
  &:nth-last-of-type(1) {
    margin-bottom: 0;
  }
  &.bgcolor {
    background-color: #e1f7f7;
    padding: 50px 30px 0;

    .title {
      text-align: center;
    }
  }
  &.paddingsame {
    padding: 50px 30px 50px 30px;
    .passbook_friendly_content {
      .title {
        &.aCenter {
          margin-bottom: 2em !important;
        }
        &.hassubtitle {
          margin-bottom: 0.3em !important;
        }
      }
    }
  }

  .health_insurance_content {
    padding-bottom: 2em;
  }
  .health_insurance_pic {
    text-align: center;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: center;
    &.imgdistance {
      margin-right: 0;
    }
    .pic {
      flex: 0 0 auto;
      flex-basis: 100%;
      line-height: 0;
      img {
        margin: 0;
        // width: 90%;
      }
    }
    .wordblock {
      flex: 0 0 auto;
      flex-basis: 100%;
      margin-top: -3em;
      font-family: 'Noto Sans TC', sans-serif;
      font-weight: 500;

      .wordbig {
        font-size: 1.875rem;
        color: $titlecolor;
        margin-bottom: 0.2em;
        letter-spacing: 0.05em;
      }
      .wordmid {
        font-size: 1.313rem;
        color: #10838e;
        letter-spacing: 0.35em;
      }
      .wore_e {
        font-size: 1rem;
        color: #10838e;
        letter-spacing: 0.01em;
      }
    }
  }
  .title {
    flex: 1 1 auto;
    flex-basis: 100%;
    color: $titlecolor;
    font-size: 1.75rem;
    margin: 0 0 1em;
    font-weight: bolder;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 700;
    &.aCenter {
      text-align: center;
    }
    em {
      margin: 0 0.5em;
      font-style: normal;
      color: #007e89;
    }
    &.singlecolor {
      em {
        margin: 0;
        font-style: normal;
        color: #007e89;
      }
    }
  }
  .subtitle {
    flex: 1 1 auto;
    flex-basis: 100%;
    color: $titlecolor;
    font-size: 1.25rem;
    margin: 0 0 2.5em;
    font-weight: bolder;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 700;
    &.aCenter {
      text-align: center;
    }
    em {
      margin: 0 0.5em;
      font-style: normal;
      color: #007e89;
    }
  }
  p {
    margin: 1em 0 1.5em;
    line-height: 1.8;
    color: #4b4b4b;
    &:first-of-type {
      margin: 0 0 1.5em;
    }
  }
  .downloadblock {
    margin: 0;
    padding: 0;
    span {
      color: #042047;
      display: block;
      margin-bottom: 5px;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: block;
      li {
        margin: 0 0 8px;
        padding: 0;
        margin-right: 5px;
        line-height: 0;
      }
    }
  }

  //緣起
  &.originblock {
    .health_insurance_pic {
      .pic {
        img {
          width: 90%;
        }
      }
    }
  }
  // 服務特色區塊
  &.service_features {
    background-image: url('../images/health_insurance_pic02bg.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    padding-bottom: 20%;
    background-size: contain;
    .health_insurance_content {
      padding-bottom: 0;
    }
  }
  .features {
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: $titlecolor;
    li {
      padding: 0 0 0 30px;
      background-image: url('../images/health_icon01.png');
      background-position: 0 3px;
      background-repeat: no-repeat;
      margin-bottom: 1em;
      font-weight: bolder;
      font-family: 'Noto Sans TC', sans-serif;
      font-weight: 500;
    }
  }
  .more {
    --moreColor: #fff;
    --hoverBg: rgba(0, 0, 0, 0.3);
    font-size: 1.125rem;
    // margin-bottom: 2em;
    a {
      display: block;
      @include grandient1(0deg);
      height: auto;
      line-height: 1.5;
      text-align: left;
      padding: 10px 70px 10px 25px;
      border-radius: 10px;
      color: #fff;
    }
  }
  .project_title {
    color: $titlecolor;
    padding-left: 25px;
    background-image: url('../images/project_title_icon.png');
    background-position: 0 12px;
    background-repeat: no-repeat;
    font-weight: bolder;
    font-size: 1.188rem;
    margin-bottom: 1em;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 500;
  }
  .numtitle {
    color: $titlecolor;
    font-size: 1.188rem;
    margin-bottom: 0;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 500;
  }
  // 管道
  .pipeline {
    margin: 2em auto 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
    li {
      margin-bottom: 0.5em;
      @include grandient1(0deg);
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 5px;
      border-radius: 18px;
      transition: 0.5s;
      a {
        padding: 1.5em 1em;
        height: 100%;

        line-height: 1.5;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        text-align: center;
        font-weight: bolder;
        font-size: 1.375rem;
        text-decoration: none;
      }
      &:nth-child(2n) {
        @include grandient4(0deg);
      }
      &:hover {
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
      }
    }
  }
  // 條列
  .listblock {
    font-size: 1.125rem;
    margin: 0 0 2em 40px;
    padding: 0;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 500;

    li {
      margin: 0 0 0.5em;
    }
  }
  .telephoneblock {
    color: $titlecolor;
    font-weight: bolder;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 500;
  }

  //退出
  &.quitblock {
    background-image: url('../images/health_insurance_shadow2.png');
    background-repeat: no-repeat;
    background-position: right bottom;
  }
  // 聯絡我們
  &.contactus {
    background: url('../images/health_insurance_shadow.jpg') no-repeat right bottom;
    padding: 50px 30px 30px 30px;
    background-color: #e1f7f7;
    p {
      margin: 1em 0;
      line-height: 1.7;
      color: #4b4b4b;
    }
  }
  ol {
    margin: 0 0 2em 20px;
    padding: 0;
    li {
      margin-bottom: 0.5em;
      color: #4b4b4b;
    }
  }
  //分區資訊
  .partitionphoto_block {
    position: relative;
    width: 100%;
    margin: 1em auto 2em;
    .image {
      position: relative;
      width: 100%;
      img {
        width: 100% !important;
        object-fit: contain;
        margin: 0 auto auto;
      }
    }
    .explaincontent {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 15px 30px;
      box-sizing: border-box;
      background: #000;
      background: linear-gradient(0deg, #000 20%, transparent 100%);
      z-index: 2;
      text-align: center;
      span {
        color: #fff;
        font-size: 1.687em;
        font-family: 'Noto Sans TC', sans-serif;
        font-weight: 500;
        letter-spacing: 0.05em;
      }
    }
  }
  .partition_business_block {
    .businessblock {
      &:nth-of-type(2n) {
        .partitiontitle {
          @include grandient1;
        }
      }
      .partitiontitle {
        text-align: center;
        padding: 0.5em;
        font-size: 1.125em;
        @include grandient4;
        color: #fff;
        margin-bottom: 0.8em;
        border-radius: 10px;
      }
      ul {
        margin: 0 1em 1em;
        padding: 0;
        list-style-type: none;
        li {
          margin-bottom: 0.5em;

          img {
            margin-left: 10px;
          }
        }
      }
    }
  }
  // 簡易上手
  &.easytouse {
    .health_insurance_pic {
      position: relative;
      .appbtn {
        position: absolute;
        top: 50%;
        ul {
          margin: 10px 0 0 10px;
          padding: 0;
          list-style-type: none;
          li {
            margin-bottom: 0.5em;
            a {
              display: block;
              padding: 0;
              border-radius: 50px;
              width: 154px;
              height: 47px;
              &:hover {
                box-shadow: rgba(255, 255, 255, 0.7) 0px 0px 5px;
              }
            }
          }
        }
      }
      .wordblock {
        margin-top: -1.5em;
      }
    }
  }
  // 存摺友善 app路徑
  .apppath {
    display: flex;
    margin-left: 25px;
    margin-bottom: 1em;
    span {
      margin-right: 5px;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: flex;
      li {
        position: relative;
        padding-right: 1em;
        margin-right: 3px;
        &:after {
          content: '>';
          font-size: 1em;
          color: #4b4b4b;
          position: absolute;
          right: 0em;
        }
        &.here {
          color: #007e89;
          &:after {
            display: none;
          }
        }
      }
    }
  }
  // 存摺友善app 左右
  .passbook_friendly_group {
    display: flex;
    justify-content: center;

    .appleft,
    .appright {
      padding: 5px;
      img {
        width: 364px;
      }
    }

    @media (max-width: 700px) {
      flex-wrap: wrap;
    }
  }
  // 存摺友善
  .passbook_friendly_content {
    flex: 1 1 auto;
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;

    .group_left {
      flex: 1 1 auto;
      flex-basis: 100%;
      padding-right: 0;
      &.flexstyle {
        display: flex;
        flex-wrap: wrap;
        .picright,
        p,
        .query_friendly_list {
          flex: 1 1 auto;
          flex-basis: 100%;
        }
        .picright {
          order: 3;
          text-align: center;
        }
      }
      .more {
        margin-bottom: 1em;
      }
    }
    .group_right {
      flex: 1 1 auto;
      flex-basis: 100%;
      text-align: center;
      .pic {
        margin: 0 auto;
        width: 100%;
        img {
          width: 100%;
        }
      }
    }
  }
  // 介紹
  .introduce_list {
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      li {
        padding-left: 25px;
        background-image: url('../images/project_title_icon.png');
        background-position: 0 12px;
        background-repeat: no-repeat;
        font-size: 1em;
        margin-bottom: 1em;
        font-family: 'Noto Sans TC', sans-serif;
        font-weight: 500;
        line-height: 1.7;
        color: #4b4b4b;
        text-align: left;
        span {
          display: block;
          font-size: 1.25rem;
          color: #193152;
          font-weight: bolder;
        }
      }
    }
  }
  // 查詢友善化
  .query_friendly_list {
    ol {
      li {
        font-size: 1.125em;
        color: #193152;
        font-weight: bold;
        ul {
          margin: 0;
          padding: 0;
          list-style-type: none;

          li {
            font-size: 1rem;
            color: #4b4b4b;
            font-weight: normal;
            position: relative;
            padding-left: 1em;
            &:before {
              content: '';
              width: 4px;
              height: 4px;
              border-radius: 50%;
              background-color: #4b4b4b;
              position: absolute;
              left: 3px;
              top: 12px;
            }
          }
        }
      }
    }
  }
  // 友善服務特色
  .friendly_service_group {
    flex: 1 1 auto;
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1em;
    .group_left2 {
      flex: 1 1 auto;
      flex-basis: 100%;
      padding-right: 0;
      order: 2;
      .pic {
        margin: 0 auto;
        width: 280px;
        img {
          width: 272px;
        }
      }
    }
    .group_right2 {
      flex: 1 1 auto;
      flex-basis: 100%;
      order: 1;
    }
  }
  @media screen and (min-width: $wwSlim) {
    &.bgcolor {
      padding: 50px 50px 0;
    }
    &.paddingsame {
      padding: 50px 30px 50px 30px;
    }
    &.contactus {
      padding: 50px 30px 30px 30px;
    }
    &.originblock {
      .health_insurance_pic {
        .pic {
          img {
            width: auto;
          }
        }
      }
    }
    &.service_features {
      padding-bottom: 20%;
    }
    .health_insurance_pic {
      .pic {
        img {
          margin: 0;
          width: auto;
        }
      }
    }
    .downloadblock {
      ul {
        display: flex;
        li {
        }
      }
    }
    // 存摺友善
    .passbook_friendly_content {
      flex: 1 1 auto;
      flex-basis: 100%;
      display: flex;
      flex-wrap: wrap;
      .title {
        margin-bottom: 1em;
      }
      .group_left {
        flex: 1 1 auto;
        flex-basis: 100%;
        padding-right: 0;
      }
      .group_right {
        flex: 1 1 auto;
        flex-basis: 100%;
        text-align: center;
        .pic {
          margin: 0 auto;
          width: auto;
          img {
            width: auto;
          }
        }
      }
    }
  }
  @media screen and (min-width: $wwMedium) {
    &.bgcolor {
      padding: 70px 50px 0;
    }
    &.paddingsame {
      padding: 50px 30px 50px 50px;
    }
    &.service_features {
      padding-bottom: 24%;
      background-size: contain;
    }
    .health_insurance_pic {
      &.imgdistance {
        margin-right: 0;
      }
    }
    .pipeline {
      display: flex;
      width: 95%;
      li {
        flex: 0 0 auto;
        flex-basis: 31.5%;
        margin: 0 0.91%;
      }
    }
    .more {
      a {
        border-radius: 50px;
      }
    }
    &.contactus {
      background: url('../images/health_insurance_shadow.jpg') no-repeat right bottom;
      padding: 50px 30px 60px 30px;
      background-color: #e1f7f7;
      .more {
        width: 80%;
      }
    }
    .partitionphoto_block {
      width: 600px;
    }
    .partition_business_block {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .businessblock {
        flex: 0 0 auto;
        flex-basis: 48%;
        &:nth-of-type(n) {
          .partitiontitle {
            @include grandient4;
          }
        }
        &:nth-child(4n + 2),
        &:nth-child(4n + 3) {
          .partitiontitle {
            @include grandient1;
          }
        }
      }
    }
  }
  @media screen and (min-width: 820px) {
    &.contactus {
      background: url('../images/health_insurance_pic06.jpg') no-repeat -30% top / contain, url('../images/health_insurance_shadow.jpg') no-repeat right bottom;
      padding: 50px 30px 60px 40%;
      background-color: #e1f7f7;
    }
    // 友善服務特色
    .friendly_service_group {
      flex: 1 1 auto;
      flex-basis: 100%;
      display: flex;
      flex-wrap: wrap;
      margin-top: 1em;

      .title {
        text-align: left;
      }
      .group_left2 {
        flex: 0 0 auto;
        flex-basis: 280px;
        padding-right: 0;
        order: 1;
        .pic {
          margin: 0 auto;
          width: 280px;
          img {
            width: 272px;
          }
        }
      }
      .group_right2 {
        flex: 1 1 auto;
        flex-basis: calc(100% - 280px);
        order: 2;
      }
    }
  }
  @media screen and (min-width: 900px) {
    // 存摺友善
    .passbook_friendly_content {
      flex: 1 1 auto;
      flex-basis: 100%;
      display: flex;
      flex-wrap: wrap;

      .group_left {
        flex: 0 0 auto;
        flex-basis: calc(100% - 360px);
        padding-right: 20px;
        &.full {
          flex-basis: 100%;
          padding-right: 0;
        }
        &.flexstyle {
          display: block;
        }
        .picright {
          float: right;
          margin-left: 1em;
        }
      }
      .group_right {
        flex: 0 0 auto;
        flex-basis: 360px;
        display: flex;
        justify-content: center;
      }
    }
  }
  @media screen and (min-width: $wwNormal) {
    display: flex;
    margin-bottom: 50px;

    &.bgcolor {
      padding: 70px 0 0 50px;
      &.nopic {
        padding: 70px 50px 0;
      }
    }
    &.paddingsame {
      padding: 50px 30px 50px 50px;
    }
    &.service_features {
      padding-bottom: 22%;
      background-size: auto;
    }
    .health_insurance_content {
      flex: 1 1 auto;
      padding-bottom: 2em;
    }
    .health_insurance_pic {
      flex: 0 0 auto;
      max-width: 430px;
      margin-left: 2em;
      padding-top: 0;
      &.imgdistance {
        margin-right: 70px;
      }
    }
    .health_insurance_apppic {
      flex: 0 0 auto;
      flex-basis: 370px;
      max-width: 370px;
      margin-left: 2em;
      padding-top: 0;
      img {
        margin-right: 32px;
        max-width: 338px;
      }
    }
    .features {
      margin: 0 0 0 3em;
    }
    .pipeline {
      width: 75%;
    }
    &.contactus {
      background: url('../images/health_insurance_pic06.jpg') no-repeat left top / contain, url('../images/health_insurance_shadow.jpg') no-repeat right bottom;
      padding: 50px 30px 60px 40%;
      background-color: #e1f7f7;
    }
  }
}
