// 項目 ul, li 條列 ////////////////////////////////////////////////

// -----------------------------------------------------------------

// 表格 table 條列 /////////////////////////////////////////////////
// 注意：表格樣式非小螢幕優先 ( mobile first )
.list {
  & > table {
    border-collapse: collapse;
    line-height: 1.5;
    width: calc(100% - 8px);
    margin: 4px;
    border-top: 3px solid $borderColor;
    border-bottom: 3px solid $borderColor;
    thead {
      tr {
        border-bottom-color: $borderColor;
      }
    }
    tbody tr:last-child {
      border-bottom: none;
    }
    tr {
      border-bottom: 1px solid $borderColor;
      &:nth-child(even) {
        background: #f4f4f4;
        td {
          // padding: 0;
        }
        .downloadFiles {
          li {
            a {
              background-color: #d7d7d7;
              &:after {
                border-color: #f4f4f4 #f4f4f4 #b1b7bc #b1b7bc;
              }
            }
          }
        }
      }
      &.active {
        background: lighten($color: $assistant1, $amount: 15);
      }
    }
    th,
    td {
      padding: 14px 16px 12px;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        top: 4px;
        bottom: 4px;
        left: 0;
        width: 1px;
        background: $borderColorLight;
      }
      &:first-child {
        &::after {
          background-color: transparent;
        }
      }
    }
    th {
      background-color: $secondaryColor;
      color: #fff;
      &.downTh {
        width: 16%;
      }
    }
    td {
      text-align: center;
      &.aLeft {
        text-align: left;
      }
      &.aRight {
        text-align: right;
      }
      &.mainsort {
        text-align: center;
        width: 130px;
      }
      &.subsort {
        text-align: left;
        width: 160px;
      }

      &.numb {
        width: 4em;
        text-align: center;
        padding-right: 8px;
        padding-left: 0;
        &::after {
          content: '.';
          position: static;
        }
      }
      &.from {
        min-width: 5em;
      }
      &.title {
        position: relative;
        text-align: left;
        // font-size: 1.125em;
      }
      &.answer {
        padding: 0;
      }
      .answerblock {
        display: none;
        padding: 1em;
      }
      & > a {
        display: block;
        color: $primaryColor;
        text-decoration: none;
        transition: 0.2s;
        &::before {
          content: '';
          position: absolute;
          left: 3px;
          right: 3px;
          bottom: 3px;
          top: 3px;
          border-radius: 4px;
          transition: 0.2s;
        }
        &:hover,
        &:focus {
          color: $secondaryColor;
          text-decoration: underline;

          &::before {
            z-index: 0;
            box-shadow: $hilight 0 0 0 2px inset;
            box-shadow: none;
          }
        }
      }

      time {
        display: inline-block;
        white-space: nowrap;
      }
      .downloadFiles {
        justify-content: center;
      }
    }
  }
  @media screen and (max-width: 1200px) {
    & > table {
      th {
        &.downTh {
          width: 19%;
        }
      }
    }
  }
  @media screen and (max-width: 992px) {
    & > table {
      th {
        &.downTh {
          width: 22%;
        }
      }
    }
  }
  @media screen and (max-width: 850px) {
    & > table {
      th {
        &.downTh {
          width: 24%;
        }
      }
    }
  }
  @media screen and (max-width: 767px) {
    & > table {
      th {
        &.downTh {
          width: 27%;
        }
      }
    }
  }
  @media screen and (max-width: $wwMedium - 1px) {
    & > table.rwdTable {
      thead {
        display: none;
      }
      tr,
      th,
      td {
        display: block;
      }
      tr {
        position: relative;
        overflow: hidden;
        padding: 0.8em 0 0.7em 3.4em;
      }
      &.qa {
        tr {
          &:nth-child(even) {
            padding: 0em;
            td {
              padding: 0;
            }
          }
        }
      }
      th,
      td {
        position: static;
        padding: 0;
        margin: 0;
        text-align: left;
        &::after {
          display: none;
        }
      }

      td {
        padding: 0.3em 15px 0.3em 0;
        &::before {
          content: attr(data-th) ':';
          display: inline-block;
          margin-right: 0.5em;
          color: $fontColorLight;
        }
        &.notitle {
          padding: 0;
          &::before {
            content: '';
            display: block;
            margin-right: 0;
            color: $fontColorLight;
          }
        }
        &.answer {
          &::before {
            display: none;
          }
        }
        &.numb {
          position: absolute;
          top: 0.7em;
          left: 0;
          width: 3em;
          text-align: right;
          white-space: nowrap;
          font-size: 1.125em;
          font-weight: bold;
          &::before {
            display: none;
          }
          &::after {
            display: inline-block;
          }
        }

        &.title {
          & > a {
            display: inline;
            &::before {
              left: 0;
              right: 0;
            }
          }
        }
        &.mainsort {
          text-align: left;
          width: auto;
        }
        &.subsort {
          text-align: left;
          width: auto;
        }
        .answerblock {
          padding: 1em;
        }
      }
      .downloadFiles {
        // display: block;
        vertical-align: middle;
        justify-content: flex-start;
      }
    }
  }
}
// -----------------------------------------------------------------
// listTree
.listTree {
  & > ul {
    font-size: 1.25rem;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    list-style-type: none;
    & > li {
      position: relative;
      margin: 0;
      padding: 10px 0px 5px 34px;
      border-bottom: 1px solid $borderColorLight;

      &::before {
        content: '';
        position: absolute;
        left: 10px;
        top: calc(1em + 7px);
        width: 8px;
        height: 8px;
        // border-radius: 50%;
        // box-shadow: $secondaryColor 0 0 0 5px;
        // background-color: $white;
        // transition: 0.2s;
        border: 2px solid #898989;
        border-color: #898989 #898989 transparent transparent;
        border-left: none;
        border-bottom: none;
        transform: rotate(45deg);
      }

      & > a,
      .title {
        display: block;
        padding: 6px 0 8px;
        .renew {
          background-color: #e81158;
          padding: 0.1em 0.7em;
          border-radius: 50px;
          color: #fff;
          margin-left: 1em;
          font-size: 0.875em;
          display: inline-block;
        }
      }
      & > a {
        color: $linkColor;
        text-decoration: none;

        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }

      .downloadFiles {
        flex: 1 1 auto;
        justify-content: flex-end;
        margin: 0 0 6px;
        padding: 0;
        // outline: 1px dashed #f002;
      }
      & > ul {
        margin: 12px 0;
        padding: 0;
        font-size: 1.125rem;
        list-style-type: none;
        & > li {
          margin: 0 0 5px;
          padding: 0;

          & > a {
            position: relative;
            display: block;
            padding: 10px 10px 10px 30px;
            border-left: 6px solid $secondaryColor;
            transition: 0.2s;
            color: $linkColor;
            background-color: #f5f5f5;
            border-radius: 5px;
            text-decoration: none;

            &:hover,
            &:focus {
              text-decoration: underline;
              background-color: #eee;
            }
          }
        }
      }
      .contentblock {
        background-color: #f4f4f4;
        padding: 30px;
        font-size: 1.125rem;
        margin: 10px 0 20px;
        border-radius: 5px;
        width: 100%;
        .titlelink {
          font-weight: bolder;
          font-size: 1.25rem;
          a {
            color: $primaryColor;
            text-decoration: underline;
            &:hover {
              color: $secondaryColor;
            }
          }
        }
        p {
          font-size: 1.125rem;
        }
        ul {
          margin: 0;
          padding: 0;
          list-style-type: none;
          font-size: 1.125rem;
          li {
            margin: 0 0 5px;
            padding: 0px 0 5px;
            border-bottom: 1px dashed #ccc;
            position: relative;
            .subtitle {
              display: block;
            }
            .downloadFiles {
              margin: 0 0 6px;
              padding: 0;
              margin: 0;
              padding: 0;
              list-style-type: none;
              li {
                padding: 0;
                border-bottom: none;
                float: left;
                margin: 3px;
                a {
                  background-color: #d7d7d7;
                  &:after {
                    content: '';
                    border-color: #f4f4f4 #f4f4f4 #bbb #bbb;
                  }
                }

                &:before {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }

  @media screen and (min-width: $wwMedium) {
    & > ul {
      & > li {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: flex-start;
        // padding-bottom: 15px;
        .downloadFiles {
          flex: 1 1 auto;
          margin: -4px 0;
        }
        .title {
          padding-bottom: 12px;
          flex: 1 1 auto;
        }

        & > ul {
          flex: 1 0 100%;
          flex-basis: 100%;
          font-size: 1.125rem;
        }
      }
    }
  }
  @media screen and (min-width: 900px) {
    & > ul {
      & > li {
        .contentblock {
          ul {
            li {
              display: flex;
              align-items: center;
              justify-content: flex-end;

              .subtitle {
                flex: 1 1 auto;
                padding: 8px 0;
              }
              .downloadFiles {
                flex: 0 0 auto;
                flex-basis: 20%;
                margin: 0 0 0;
                padding: 0;
              }
            }
          }
        }
      }
    }
  }
  @media screen and (min-width: $wwNormal) {
    & > ul {
      & > li {
        .downloadFiles {
          flex: 0 0 17%;
        }
        .title {
          flex: 1 1 auto;
          flex-basis: calc(100% - 17%);
        }
      }
    }
  }
  @media screen and (min-width: 1100px) {
    & > ul {
      & > li {
        .downloadFiles {
          flex: 0 0 15%;
        }
      }
    }
  }
}
