.menu{
  ul{
    list-style: none; margin: 0; padding: 0; line-height: 1.4;
    li{ margin: 0; padding: 0;}
    a{ display: block; position: relative; text-decoration: none;}
  }
}

// 行動版側欄
.sidebar{
  position: fixed; z-index: 990;
  width: $sideBarWidth; padding-top: 70px;
  margin-left:$sideBarWidth * (-1);
  top: 0; bottom: 0; overflow: auto;
  background-image: linear-gradient( 180deg, #004f73 , #0094a0 150%); color: $fontInvert;
  transition: .5s;

  .menu , .topLink{ display: none;}

  &.reveal{ margin-left:0;
    .menu, .topLink { display: block;}
  }


  // 行動版側欄主選單
  .menu{
    &>ul{
      font-size: 1.25rem; line-height: 1.2;
      li{
        a{
          position: relative;color: $fontInvert; text-decoration: none;
          &:hover, &:focus{background-color: rgba(0,20,20,.4)}
        }
        &.hasChild{
          &>a{
            padding-right: 36px;
            &::after{
              content: ''; position: absolute; right: 15px; top: 1em;
              width: 8px; height: 8px; border: 2px solid $white;
              transform: rotate(45deg); border-left: none; border-top: none;
              transition: .2s;
            }
          }
          &.closeIt>a{
            &::after{ transform: rotate(225deg); top: 1.2em; }
          }
        }

        // 第二層
        ul{ 
          display: none;
          font-size: 1.125rem; border-top: 1px solid rgba(255,255,255,.2);
          li{
            a{
              padding: .8em .8em .7em 36px;
              &::before{
                content: ''; position: absolute; left: 1.2rem; top: 1.5em;
                width: 6px; height: 2px; background-color: $fontInvert;
              }
            }
          }
          // 第三層和其之後
          ul{ 
            margin-left: 32px; border-top: none;
            a{ padding-left: 22px;
              &::before {left: 7px; height: 1px;}
            }
          }
        }
      }

      // 第一層選單項目
      &>li{
        border-bottom: 1px solid rgba(255,255,255,.2);
        &>a{
          position: relative;
          padding: .8em 16px .7em; transition: .2s;
        }
      }
    }

  }



  @media screen and (min-width: $wwNormal){
    display: none;
  }

}


////////////////////////////////////////////////////////////
// 寬版主選單
.webHeader .menu{
  display: none;

  @media screen and (min-width: $wwNormal){
    display: block; background: $white;
    a{ color: $fontColor;}
    
    &>ul{
      display: flex; flex-flow: row wrap; 
      margin: 0 auto; width: 100%;
      a{display: block;}
      &>li{
        position: relative;
        flex: 1 1 auto; margin: 0;
        font-size: 1.125rem; text-align: center;
        &:hover>a{ &::after{ height: 4px;} }
        &>a{ 
          height: 3em; line-height: 3; padding: 0 .3em;
          font-weight: bold;
          &::after{
            content: ''; position: absolute; left: 0; right: 0; bottom: 0;
            height: 0;
            @include grandient2(90deg);
            transition: height .15s;
          }
          &:focus{ 
            &::after{ height: 4px;}
          }
        }
        // level2
        &>ul{
          display: none;margin:0; padding: 20px 0 10px;
          position: absolute; top: auto; z-index: 199;
          width: 100vw;
          font-size: 1rem;text-align: left;
          background: rgba(240, 240, 240, .95);
          box-shadow: rgba(0,0,0,.4) 0 5px 20px;
          flex-flow: row wrap;
          &.show{ display: flex;}
          &>li{
            flex: 0 0 22%; margin: 8px 1.5% 20px;
            &>a{ 
              padding: 0 0 .1em 20px;
              border-bottom: 2px solid transparent;
              &::before, &::after{content: ''; position: absolute;transition: .15s;}
              &::before{
                left: 0; top: 10px;
                width: 12px; height: 2px; background: $fontColor;
              }
              &::after{
                width: 8px; height: 8px;
                border: 2px solid $fontColor; border-left: none; border-bottom: none;
                transform: rotate(45deg);
                left: 1px; top: 6px;
              }
              &:hover, &:focus{
                border-color: $secondaryColor;
                &::before{ left: 3px;}
                &::after{left: 4px;}
              }
            }
            &+li{margin-top: 4px;}
          }
        }
  
      }
  
      ul{ font-size: 1.4rem;}
      ul ul{ display: none;}
    }
  }

  @media screen and (min-width: $wwMaximum ){
   
    &>ul{width: $wwMaximum;
      &>li>ul{
        width: $wwMaximum;
      }
    }

  }
}