.pagination {
  margin-top: 0px;
  padding: 10px 0;
  text-align: center;
  font-size: 1.125em;
  line-height: 1.5;

  form {
    display: block;
  }
  input,
  select {
    font-size: inherit;
    height: 2.4em;
    line-height: 2.4;
  }
  select {
    background-position: right 8px top 0.95em;
  }
  a {
    text-decoration: none;
  }
  em {
    display: inline-block;
    margin: 0 0.4em;
    font-style: normal;
    font-weight: bold;
    color: $hilight;
  }
  .total {
    display: none;
  }
  .items {
    display: inline;
    a {
      display: inline-block;
      font-weight: bold;
      color: $fontColor;
      height: 1.8em;
      line-height: 1.9;
      margin: 0 3px;
      padding: 0 6px;
      border-radius: 3px;
      transition: 0.2s;
      &:hover,
      &:focus {
        box-shadow: $hilight 0 0 0 2px;
      }
      &.active {
        background: $hilight;
        color: $fontInvert;
      }
    }
  }

  .page {
    margin: 10px auto;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    & > li {
      min-width: 40px;
      height: 40px;
      margin: 2px;
      list-style: none;
      flex: 0 0 auto;
      &.hidden_wwMedium {
        display: none;
      }
      a {
        display: block;
        color: $fontColor;
        border-radius: 3px;
        background-color: $white;
        border: #ccc solid 1px;
        transition: 0.2s;
        position: relative;
        padding: 6px 10px;

        &:hover,
        &:focus {
          color: $hilight;
        }
      }
      &.active {
        a {
          background-color: $hilight;
          color: #fff;
          position: relative;
          &:hover,
          &:focus {
          }
        }
      }

      &.first,
      &.prev,
      &.next,
      &.last {
        margin: 3px;
        text-indent: -20em;
        a {
          position: relative;
          width: 2.5em;
          overflow: hidden;
          &::before,
          &::after {
            content: '';
            background-color: transparent;
            position: absolute;
            top: 50%;
            width: 8px;
            height: 8px;
            margin-top: -5px;
            border: 2px solid #aaa;
            border-top: none;
            border-right: none;
            transform: rotate(45deg);
          }
          &:hover {
            &::before,
            &::after {
              content: '';
              background-color: transparent;
              position: absolute;
              top: 50%;
              width: 8px;
              height: 8px;
              margin-top: -5px;
              border: 2px solid $hilight;
              border-top: none;
              border-right: none;
              transform: rotate(45deg);
            }
          }
        }
      }
      &.first,
      &.last {
        a::before {
          left: calc(50% - 5px);
        }
        a::after {
          left: calc(50% + 1px);
        }
      }
      &.prev,
      &.next {
        a::after {
          display: none;
        }
        a::before {
          left: calc(50% - 3px);
        }
      }
      &.last,
      &.next {
        transform: rotate(180deg);
      }
    }
  }

  @media screen and (min-width: 780px) {
    .total {
      display: block;
    }
    .page {
      > li {
        &.hidden_wwMedium {
          display: block;
        }
      }
    }
  }
}
