// 快速查詢區
.search { 
  display: none;
  position: absolute; top: 80px; left: auto; right: 0; z-index: 12;
  width: 100vw; max-width:500px; padding: 24px 5vw 10px;
  transform: translateX(100%);
  @include grandient1(30deg); color: $fontInvert;
  transition:transform .5s;
  &.reveal{transform: translateX(0);}

  a{ color: $fontInvert; }

  input[type="text"],
  input[type="button"], input[type="submit"] {
    float: left;
    padding: 0 .5em; margin: 0;
    font-size: inherit; height: 2.6em; line-height: 2.6;
    border: none; border-radius: 4px;
    // box-shadow: $assistant1 0 0 0 2px;
  }
  input[type="text"]{
    width: calc(100% - 5em - 4px); max-width: 24em; margin-right: 4px;
    background-color: $white;
    &:focus{box-shadow: $focus 0 0 0 2px;}
  }
  input[type="button"], input[type="submit"] {
    width: 5em;background-color: $btnBg1;
    &:hover{ background-color: $btnBg2;}
    &:focus{ background-color: $btnBg2; box-shadow: $focus 0 0 0 2px;}

  }

  // 熱門關鍵字
  .hotKeywords{
    clear: both; padding-top: 14px;
    .label{display: inline-block; margin-right: .4em;line-height: 1.1; vertical-align: top;}
    ul{ list-style: none; margin: 0; padding: 0; display: inline-block; line-height: 1.1;}
    li{ margin:0 1em .4em 0; float: left;
      a{ display: block; text-decoration: none; cursor: pointer;
        &:hover, &:focus{ text-decoration: underline;}
      }
    }
  }

  // .skip{
  //   position: absolute; right: 0; width: 1px; height: 1px;
  //   padding: 0; opacity: 0; overflow: hidden;
  // }


  @media screen and (min-width: $wwNormal){
    top: 100px; right: 20px;
    width: 500px; height:0; padding:0 30px; border-radius: 24px;
    box-shadow: rgba($primaryColor, .6) 0 0 30px;
    transform: translateX(0);
    transition: .5s;
    // display: block; 
    overflow: hidden;

    &.reveal{ height: 8em;padding:30px 30px 20px;}
  }

  @media screen and (min-width: $wwMaximum){
    right:calc( 50vw - #{$wwMaximum}/2);
  }

}
