// 附件下載, 相關連結 ////////////////////////////////////////////////////
.fileDownload,
.seeAlso {
  margin-bottom: 50px;

  h3 {
    font-size: 1.4em;
    margin: 0 0 0.5em;
    line-height: 1.1;
  }
  ul,
  ol {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1.8;
  }
  a {
    text-decoration: none;
  }
}
// -----------------------------------------------------------------

// 相關連結 ////////////////////////////////////////////////////
.seeAlso {
  & > ol {
    border-top: 3px solid $borderColor;
    border-bottom: 3px solid $borderColor;
  }
  li {
    margin: 3px 0 0;
    padding: 0 0 3px;
    border-bottom: 1px solid $borderColor;
    a {
      position: relative;
      display: block;
      padding: 0.7em 10px 0.6em 14px;
      color: $fontColor;
      transition: 0.2s;
      &::before {
        content: '';
        position: absolute;
        left: 2px;
        top: 1.25em;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6px 0 6px 3px;
        border-color: $fontColorDark;
        transition: border-left-width 0.15s;
      }
      &:hover,
      &:focus {
        padding-left: 22px;
        padding-right: 2px;
        outline: none;
        &::before {
          border-color: transparent;
          border-left-color: $fontColorDark;
          border-width: 6px 0 6px 9px;
        }
      }
      &:focus {
        box-shadow: $linkColor 0 0 0 1px inset;
      }
    }
  }
}
// -----------------------------------------------------------------

// 附件下載 ////////////////////////////////////////////////////
.fileDownload {
  & > ul {
    border-top: 3px solid $borderColor;
    border-bottom: 2px solid $borderColor;

    & > li {
      margin: 0;
      padding: 0 0 0 3px;
      border-bottom: 1px solid $borderColor;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: flex-end;
    }
  }
  .fileName {
    margin: 6px 0 3px;
    flex: 1 1 auto;

    @media screen and (max-width: $wwMedium) {
      flex-basis: 100%;
    }
  }

  .downloadFiles {
    flex: 0 0 auto;
    flex-basis: 390px;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    @media screen and (max-width: $wwMedium) {
      flex-basis: 100%;
    }
    li {
      flex: 0 0 auto;
      flex-basis: 120px;
      margin: 0 0 0 10px;
      padding: 3px 0;

      flex-wrap: nowrap;
    }
    a {
      padding: 5px;
      display: block;
      &:hover,
      &:focus {
        outline: none;
        // .fileSize {
        //   text-decoration: underline;
        // }
      }
      &:focus {
        box-shadow: $linkColor 0 0 0 1px inset;
        outline: none;
      }
    }
  }

  .fileType {
    // display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
  }
}
// -----------------------------------------------------------------
