// variables
// ---------- 長度常數 ---------- //
$sideBarWidth: 300px; // 窄版側欄選單
$mobileWidth: 94vw; // 窄螢幕寬度 moduals width in mobile
$normalWidth: 94vw; // 寬螢幕寬度

$bigRadius: 32px; // 圓角半徑
$radius: 16px; // 圓角半徑

// ---------- 長度常數 ---------- //

// ---------- RWD 斷點 ---------- //
$wwSlim: 480px;
$wwMedium: 700px;
$wwNormal: 1000px;
$wwMaximum: 1200px;
// ---------- RWD 斷點 ----------- //

// ---------- 首頁主要區塊寬度 ----------- //
%primSecWidth {
  width: 94%;
  margin: 30px auto;
  @media screen and (min-width: $wwMaximum) {
    width: $wwMaximum * 0.94;
  }
}

// ---------- 顏色變數 ----------- //
$primaryColor: #004f73;
$secondaryColor: #018392;
$assistant1: #b5e7e4;
$assistant2: #fff677;
$hilight: #e81158;
$focus: #07b4b1;
$hover: #eee;

$fontColor: #081c36;
$fontColorLight: #374459;
$fontColorPale: #778393;
$fontColorDark: #000;
$fontInvert: #fff;
$linkColor: #004c7c;
$mainBg: #fff;

$borderColor: #c1c4c6;
$borderColorLight: #d2d2d2;
$borderColorDark: #434242;
$shadow1: rgba(0, 0, 0, 0.25);
$shadow2: rgba(0, 0, 0, 0.5);

$white: #fff;
$black: #000;
$gray: #d3d5d6;
$grayLight: #eff7fb;
$grayDark: #424344;

$btnBg1: $primaryColor;
$btnBg2: #01425c;

$footBg: $primaryColor;
$sidebarBg: $grayDark;

// $textBlock1: $primaryColor;
// $textBlock2: #017383;
@mixin textBlock1 {
  background-image: url('../images/textBlock_bg1.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  border: 4px solid #fff;
  transition: 0.5s;
}
@mixin textBlock1hover {
  background-image: none;
  background: rgb(1, 127, 140);
  background: linear-gradient(180deg, rgba(1, 127, 140, 1) 0%, rgba(0, 74, 102, 1) 100%);
  border: 4px solid #72f2ff;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
@mixin textBlock2 {
  background-image: url('../images/textBlock_bg2.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  border: 4px solid #fff;
}
@mixin textBlock2hover {
  background: rgb(44, 130, 93);
  background: linear-gradient(180deg, rgba(44, 130, 93, 1) 0%, rgba(7, 101, 97, 1) 100%);
  border: 4px solid #79ffce;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

// ---------- 顏色變數 ----------- //

@mixin blockStyle1 {
  box-shadow: rgba(57, 120, 132, 0.3) 0 0 20px;
  border-radius: $bigRadius;
  background-color: $white;
}

// ---------- 漸層 ----------- //
@mixin grandient1($degree: 0deg) {
  background-image: linear-gradient($degree, #00486a, #018e9f);
}
@mixin grandient2($degree: 0deg) {
  background-image: linear-gradient($degree, #0086cb 5%, #00c069 95%);
}
@mixin grandient3($degree: 0deg) {
  background-image: linear-gradient($degree, #6e6e6e, #767676);
}
