// 即時影音
.videoFlow{
  padding: 90px 0 100px;margin: 0 auto;
  
  background:#2b3e4f url(../images/bg_videoFlow.jpg) no-repeat center top;
  color: $fontInvert;

  .blockHeader{
    .engSub{ 
      background-image: none; color: $fontInvert;
      -webkit-text-fill-color: $fontInvert;
    }
  }
  .flowList{
    margin-top: 30px;padding: 0 18vw;overflow: hidden;
  }
  
  .flowItem{
    a{
      position: relative;display: block;
      text-decoration: none; color: $fontInvert;
      &::before, &::after{
        content: ''; position: absolute;
        transition: .2s;
      }
      &::before{
        left: calc(50% - 40px); top: calc(18vw - 40px);
        width: 70px;height: 70px;border-radius: 50%;
        border: 5px solid $white;
        background-color: rgba(0,0,0,.15);
      }
      &::after{
        width: 0; height: 0; top: calc(18vw - 15px); left: calc(50% - 7px);
        border-radius: 3px; border-style: solid;
        border-width: 15px 0 15px 22px;
        border-color: transparent transparent transparent $white;
      }
      &:hover, &:focus{
        &::before{background-color: rgba(180,0,0,.8);}
      }
    }
    img{display: block; width: 100%; height: 36vw;}
    .title { 
      margin: 15px 0 0;
      font-size: 1.25rem; text-align: center; font-weight: bold;
    }
  }

  .slick-dots{
    --dotBgc: #81898c;
    --dotActive: #fff;
  
     margin: 40px 0 0;
  }
  .slick-arrow{
    top: 18vw;
    &.slick-prev{ left: 18px;}
    &.slick-next{ right: 18px;}
  }

  .more{
    --moreColor : #fff;
    margin-top: 1.5em;
  }

  @media screen and (min-width: $wwMedium){
    .flowList{
      padding: 0 10vw;
    }
    .flowItem{
      margin: 0 2.4vw;
      img{height: 19.8vw;}
      a {
        &::before{ top: calc(9.9vw - 40px);}
        &::after { top: calc(9.9vw - 15px);}
      }
    }
    .slick-arrow{ top: 9.9vw;}
  }


  @media screen and (min-width: $wwNormal){
    
    .flowList{
      margin-top: 70px;
      padding-left: 6vw; padding-right: 6vw;
    }
    .flowItem{
      margin: 0 24px;
      img{ height: calc(16.5vw - 27px);}
      a {
        &::before{ top: calc(8.25vw - 53px);}
        &::after { top: calc(8.25vw - 28px);}
      }
    }
    .slick-arrow{ top: calc(8.25vw - 13.5px);}
    .slick-dots{ margin-top: 60px; }

    .more{ text-align: right; margin:-32px 40px auto auto;}
  }

  @media screen and (min-width: $wwMaximum){

    .flowList{
      width:  $wwMaximum; margin-left: auto; margin-right: auto;
      padding-left: $wwMaximum*.06; padding-right: $wwMaximum*.06;
    }
    .flowItem{
      img{ height: calc($wwMaximum*.165 - 27px);}
      a {
        &::before{ top: calc($wwMaximum*.0825 - 53px);}
        &::after { top: calc($wwMaximum*.0825 - 28px);}
      }

    }
    .slick-arrow{ top: calc($wwMaximum*.0825 - 13.5px);}
    
    .more{ margin-right: calc(50% - $wwMaximum*.5 + 40px);}

  }

}