.webHeader{
  position: relative;
  // background: linear-gradient(90deg, $primaryColor 10%, $secondaryColor 90%);
  background: url(../images/bg_dot.png) repeat 0 0;
  
  h1{
    margin: 0 60px;padding:10px 0; height: 80px;
    background: url(../images/h1_mobile.png) no-repeat center center;
    background-size: auto 60px;
    img{
      display: none;
      // display: block; height: 60px; margin: 0 auto;
    }
  }

  .sidebarCtrl, .searchCtrl { 
    position: absolute; top: 16px; z-index: 992;
  }
  .sidebarCtrl { left: 7px;}
  .searchCtrl { right: 7px; }


  @media screen and (min-width: $wwNormal){
    background:url(../images/bg_tinyDots.png) repeat, linear-gradient( 90deg, #004f73 , #0094a0);
    padding:0; margin: 0;
    h1{
      background: none; height: auto;
      margin: 0 0 0 24px; padding: 24px 0; width: $wwMaximum*.4;
      img{display: block; height: 72px; margin: 0;}
    }

    .searchCtrl{ 
      top: 36px; right: 20px; border-radius: 50%;
    }
    .sidebarCtrl{display: none;}
  }

  @media screen and (min-width: $wwMaximum){
    h1 {position: relative; left: calc( 50% - $wwMaximum*.5);}
    .topLinks{right: calc( 50% - $wwMaximum*.5);}
    .searchCtrl{ right: calc( 50% - $wwMaximum*.5 + 20px); }
  }
  
}
